<% content_for :partCss do %>
    <%= stylesheet_link_tag 'css/wn.css', media: 'all'%>
<% end %>
<% content_for :partJs do %>
<% end %>

<div class="right_col">
  <!-- top title -->
  <div class="row">
    <div class="col-md2 col-sm-4 col-xs-6 tile_stats_count">
      <div class="wn-title green">成绩录入</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="wryh">选课名单</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <%= link_to excel_grades_url(course_id: @course, format: 'xls') do %>
                  <i class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Export Excel"></i>
              <% end %>
            </li>
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action sortable">
              <thead>
              <tr>
                <th>学号</th>
                <th>名字</th>
                <th>专业</th>
                <th>培养单位</th>
                <th>课程</th>
                <th>目前分数</th>
                <th>提交</th>
              </tr>
              </thead>
              <tbody>

              <% @grades.each do |grade| %>
                  <tr>
                    <td><%= grade.user.num %></td>
                    <td><%= grade.user.name %></td>
                    <td><%= grade.user.major %></td>
                    <td><%= grade.user.department %></td>
                    <td><%= grade.course.name %></td>

                    <% if teacher_logged_in? %>
                        <%= form_for grade, url: grade_url(id: grade.id, course_id: grade.course.id), method: :patch do |f| %>
                            <td><%= f.text_field :grade, class: "form-control form_grade", placeholder: grade.grade %></td>
                            <td><%= f.submit "提交", class: "btn btn-success btn-xs" %></td>
                        <% end %>

                    <% end %>

                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


