<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>CourseSelect</span></a>
    </div>

    <div class="clearfix"></div>

    <div class="profile" style="overflow: auto;margin-bottom: 10px;">
      <div class="profile_pic">
        <%= image_tag "img.jpg",class:"img-circle profile_img" %>
      </div>
      <div class="profile_info">
        <span>欢迎,</span>
        <% if current_user %>
            <h2> <%= current_user.name %></h2>
        <% else %>
            <h2>游客</h2>
        <% end %>
      </div>
    </div>



    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">

          <% if student_logged_in? %>
              <li ><a><i class="fa fa-home"></i> 选修课程 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">

                  <li>
                    <%= link_to list_courses_path do%>
                        <% wn_courses = Course.all-current_user.courses
                           wn_courses = wn_courses.select{|item| item.open?&&item.status==$CourseOpen}
                        %>
                        选择课程 <span class="badge bg-green wn-badge"> <%= wn_courses.length%> </span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to courses_path do%>
                        已选课程 <span class="badge bg-green wn-badge"> <%= current_user.courses.length%> </span>
                    <% end %>
                  </li>
                  <li><a href="#">选课学分提示</a></li>
                </ul>
              </li>

              <li><a><i class="fa fa-edit"></i> 课程空间 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><%= link_to coursetable_courses_path do%>查看课表<% end %></li>
                  <li><%= link_to checkroom_courses_path do%>空教室查询<% end %></li>
                  <li><%= link_to grades_path do %>成绩查询<% end %></li>
                  <li><%= link_to discussion_courses_path do%>讨论区<% end %></li>
                </ul>
              </li>
          <% end %>

          <% if teacher_logged_in? %>
              <li >
                <a><i class="fa fa-home"></i> 任课课程 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li>
                    <%= link_to courses_path do%>
                       	 已授课程 <span class="badge bg-green wn-badge"><%= current_user.teaching_courses.length %></span>
                    <% end %>
                  </li>
                  <li><%= link_to '创建新课程', new_course_path %></li>
                </ul>
              </li>

              <li>
                <a><i class="fa fa-edit"></i> 课程空间 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><%= link_to coursetable_courses_path do%>查看课表<% end %></li>
                  <li><%= link_to course_grades_path do %>评定成绩<% end %></li>
                  <li><%= link_to discussion_courses_path do%>讨论区<% end %></li>
                </ul>
              </li>
          <% end %>
          		
          <% if admin_logged_in? %>
          		<li >
                <a><i class="fa fa-home"></i> 课程管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li>
                    <%= link_to courses_path do%>
                       	 待审核课程 <span class="badge bg-green wn-badge"><%= Course.where(status: [$CourseReview,$CourseArrange]).length %></span>
                    <% end %>
                  </li>
                  <li><%= link_to '选课控制', control_courses_path %></li>
                </ul>
              </li>

              <li>
                <a><i class="fa fa-edit"></i> 教室管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><%= link_to classroom_index_path do%>教室列表<% end %></li>
                  <li><%= link_to edit_classroom_index_path do %>添加教室<% end %></li>
                </ul>
              </li>
              
          <% end %>

        </ul>
      </div>

    </div>

  </div>
</div>

<div class="top_nav">
  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <% if current_user %>
                <%= image_tag "img.jpg" %><%= current_user.name %>
            <% else %>
               	 未登录
            <% end %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <% if current_user %>
              <li><%= link_to '个人信息', edit_user_path(current_user) %></li>
            <% end %>

            <% if current_user %>
                <li><%= link_to sessions_logout_path , method: 'delete' do %><i class="fa fa-sign-out pull-right"></i> 退出<% end %></li>
            <% else %>
                <li><%= link_to sessions_login_path do %><i class="fa  pull-right"></i> 登陆 <% end %> </li>
                <li><%= link_to new_user_path do %><i class="fa fa-sign-out pull-right"></i> 注册 <% end %></li>
            <% end %>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">6</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">

          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>