<!DOCTYPE html>
<html >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>选课系统</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- bootstrap wysihtml5 -->
  <%= stylesheet_link_tag 'css/bootstrap-wysihtml', media: 'all' %>
  <!-- Bootstrap -->
  <%= stylesheet_link_tag 'css/bootstrap/bootstrap.min.css', media: 'all' %>
  <!-- Font Awesome -->
  <%= stylesheet_link_tag 'css/font/font-awesome.min.css', media: 'all' %>
  <!-- iCheck -->
  <%= stylesheet_link_tag 'css/iCheck/green.css', media: 'all'%>
  <!-- bootstrap-progressbar -->
  <%= stylesheet_link_tag 'css/bootstrap/bootstrap-progressbar-3.3.4.min.css', media: 'all'%>
  <!-- jVectorMap -->
  <%= stylesheet_link_tag 'css/jquery/jquery-jvectormap-2.0.3.css', media: 'all'  %>
  <!-- Custom Theme Style -->
  <%= stylesheet_link_tag 'css/custom.min.css', media: 'all'%>
  <%= stylesheet_link_tag 'css/wn.css', media: 'all'%>
  <%= csrf_meta_tags %>

  <%= yield :partCss%>


  <!-- Bootstrap wysihtml5 -->
  <%= javascript_include_tag 'js/wysihtml.min.js', 'data-turbolinks-track' => true %>
  <!-- jQuery -->
  <%= javascript_include_tag 'js/jqury/jquery.min.js', 'data-turbolinks-track' => true %>
  <!-- Bootstrap -->
  <%= javascript_include_tag 'js/bootstrap/bootstrap.min.js', 'data-turbolinks-track' => true %>
  <!-- Bootstrap wysihtml5 -->
  <%= javascript_include_tag 'js/bootstrap-wysihtml.min.js' , 'data-turbolinks-track' => true %>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%= render partial: 'layouts/header'%>
      <%= render partial: 'layouts/content'%>
      <%= render partial: 'layouts/footer' %>
    </div>
  </div>


  <!-- FastClick -->
  <%= javascript_include_tag 'js/others/fastclick.js', 'data-turbolinks-track' => true %>
  <!-- NProgress -->
  <%= javascript_include_tag 'js/others/nprogress.js', 'data-turbolinks-track' => true %>
  <!-- bootstrap-progressbar -->
  <%= javascript_include_tag 'js/bootstrap/bootstrap-progressbar.min.js', 'data-turbolinks-track' => true %>
  <!-- iCheck 选项框-->
  <%= javascript_include_tag 'js/others/icheck.min.js', 'data-turbolinks-track' => true %>
  <!-- Skycons -->
  <%= javascript_include_tag 'js/others/skycons.js', 'data-turbolinks-track' => true %>
  <!-- ECharts -->
  <%= javascript_include_tag 'js/echarts.common.min', 'data-turbolinks-track' => true %>
  <!-- SortTable -->
  <%= javascript_include_tag 'js/sorttable.js', 'data-turbolinks-track' => true %>
  <!-- Custom Theme Scripts  重要-->
  <%= javascript_include_tag 'js/custom.min.js' %>

  <%= yield :partJs%>
</body>
</html>
