<% content_for :partCss do %>
    <%= stylesheet_link_tag 'css/wn', media: 'all' %>
    <%= stylesheet_link_tag 'discussion', media: 'all' %>
    <%= stylesheet_link_tag 'comment', media: 'all' %>
<% end %>
<% content_for :partJs do %>
    <%= javascript_include_tag 'js/editor' %>
<% end %>

<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row">
    <div class="col-md-12 tile_stats_count">
      <div class="wn-title green"><%= @course.name %> 的讨论区</div>
    </div>
  </div>
  <!-- /top tiles -->

  <div class="row comment">
    <div class="col-md-12">
      <div class="media">
        <div class="media-left">
          <%= image_tag 'img.jpg', class: 'discussion_avatar'%>
        </div>
        <div class="media-body comment_container">
          <div class="comment_heading">
            <% if @discussion.user.teacher %>
                <i class="fa fa-user-plus fa-fw" data-toggle="tooltip" data-placement="top" title="教师"></i>
            <% end %>
            <%= @discussion.user.name %> 于 <%= @discussion.created_at.localtime.strftime('%Y年%m月%d %H-%M-%S') %> 创建了讨论
          </div>
          <div class="comment_content">
            <div class="discussion_title">
              <%= @discussion.title %>
            </div>
            <div class="discussion_content">
              <%= raw @discussion.content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% @comments.each do |comment| %>
  <div class="row comment">
    <div class="col-md-12" >
      <div class="media">
        <div class="media-left comment_user">
          <%= image_tag 'img.jpg', class: 'discussion_avatar' %>
        </div>
        <div class="media-body comment_container">
          <div class="comment_heading">
            <% if comment.user.teacher %>
                <i class="fa fa-user-plus fa-fw" data-toggle="tooltip" data-placement="top" title="教师"></i>
            <% end %>
            <%= comment.user.name %> 回复于 <%= comment.created_at.localtime.strftime('%Y年%m月%d %H-%M-%S') %>
          </div>
          <div class="comment_content">
            <%= raw comment.content %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 media">
      <div id="comment_editor">
        <div class="media-left">
          <%= image_tag 'img.jpg', class: 'discussion_avatar' %>
        </div>
        <div class="editor_right media-body">
          <%= form_for @comment, url: course_discussion_comment_index_path(course_id: @course, discussion_id: @discussion), method: :post, html: { class: 'form'} do |f| %>
              <%= f.text_area :content, class: 'form-control'%>

              <%= f.submit '提交', class: "btn btn-success btn-block" %>
              <%= link_to '取消', course_discussion_comment_index_path(course_id: @course, discussion_id: @discussion), :class => "btn btn-default btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <br />

</div>
<!-- /page content -->
