<% content_for :partCss do %>
    <%= stylesheet_link_tag 'css/wn.css', media: 'all'%>
<% end %>
<% content_for :partJs do %>
<% end %>

  <!-- top tiles -->
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <div class="wn-title green">用户信息</div>
    </div>
  </div>
  <!-- /top tiles -->


  <div class="row">
    <div class="col-md-offset-3 col-sm-offset-1 col-sm-10 col-md-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>编辑个人信息</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <%= form_for current_user, html: {role: 'form'} do |f| %>
              <%= render 'shared/error_messages', :object => current_user %>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                  <%= f.text_field :email, class: 'form-control', placeholder: "电子邮件" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></div>
                  <%= f.text_field :major, class: 'form-control', placeholder: "专业" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-briefcase fa-fw"></i></div>
                  <%= f.text_field :department, class: 'form-control', placeholder: "部门" %>
                </div>
              </div>


              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-lock fa-fw"></i></div>
                  <%= f.password_field :password, class: 'form-control', placeholder: "输入新密码" %>
                </div>
              </div>

              <div>
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-lock fa-fw"></i></div>
                  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "再次输入密码" %>
                </div>
              </div>

              <br>

              <%= f.submit '更新', class: "btn btn-info btn-block" %>
              <%= link_to '取消', root_path, :class => "btn btn-default btn-block" %>

              <br>

          <% end %>
        </div>
      </div>
    </div>
  </div>
