<% content_for :partCss do %>
    <%= stylesheet_link_tag 'css/wn.css', media: 'all'%>
<% end %>
<% content_for :partJs do %>
<% end %>


  <!-- top tiles -->
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <div class="wn-title green">教室列表</div>

    </div>
  </div>
  <!-- /top tiles -->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 class="wryh">教室列表</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">


          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action sortable">
              <thead>
              <tr class="headings">

                <th class="column-title">教室编号 </th>
                <th class="column-title">教室名称 </th>
                <th class="column-title">校区</th>
                <th class="column-title">容量</th>
                <th class="column-title">教学楼</th>

              </tr>
              </thead>

              <tbody>
              <% @classroom.each do |room| %>
                  <tr class="even pointer">
                    <td class=" "><%= room.id %></td>
                    <td class=" "><%= room.name %></td>
                    <td class=" "><%= room.campus %></td>
                    <td class=" "><%= room.volume %></td>
                    <td class=" "><%= room.building %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

